# Backend API Keys (server-side)
FINNHUB_API_KEY=d5uc131r01quhg55l6o0d5uc131r01quhg55l6og
POLYGON_API_KEY=SauW_EtyIrmz97SvRCZXbRyI6iQQHDu5
ALPHA_VANTAGE_API_KEY=WYYY6QCKPRMZD7AE

# Frontend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
